{% extends "base/no-sidebar.html" %}
{% load navbar %}

{% block title %}Navbar Test{% endblock %}

{% block content %}
{% prepare_navbar as navitems %}


{% with navitems|first as first_item %}
  <h2>{{ first_item.title|make_link:first_item.url }}</h2>
  <ul>
    {% for item in navitems|slice:"1:" %}
      {% if item.attribute != "end-sub" %}
        <li>{{ item.title|make_link:item.url }}</li>
        {% if item.attribute == "begin-sub" %}
          <ul>
        {% endif %}
      {% else %}
        </ul>
      {% endif %}
    {% endfor %}
  </ul>
{% endwith %}

{% endblock %}
