{% load staticfiles %}
{% load bootstrap3 %}
{% load navbar %}
{% load url from future %}

{% empty_tag as dummy %}

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}{% endblock %} - {{ project_name }}</title>
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static "stylesheet.css" %}" />
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  {% bootstrap_javascript jquery=True %}
  <script src="{% static "javascript.js" %}"></script>

  {% block extra_head %}{% endblock %}
</head>
<body>
  <!-- navbarここから -->
  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url "index" %}">{{ project_name }}</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="">{% bootstrap_icon "home" %} Home</a></li>
          <li><a href="">Task</a></li>
          <li><a href="">Test</a></li>
        </ul>

        {% if not hide_user_button %}
        {% include "accounts/user-button.html" %}
        {% endif %}
      </div>
    </div>
  </div>
  <!-- navbarここまで -->

  <!-- 中身ここから -->
  {% block main %}{% endblock %}
  <!-- 中身ここまで  -->
 </body>
</html>

