{% load staticfiles %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}{% endblock %} - {{ project_name }}</title>
  {# bootstrap_css #}
  <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}" />
  <link rel="stylesheet" href="{% static "stylesheet.css" %}" />

  {# bootstrap_javascript jquery=True #}
  <script src="{% static "jquery-2.1.1.min.js" %}"></script>
  <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
  <script src="{% static "javascript.js" %}"></script>

  {% block extra_head %}{% endblock %}
</head>
<body>
  <!-- navbarここから -->
  {% include "navbar/navbar.html" %}
  <!-- navbarここまで -->

  <!-- 中身ここから -->
  {% block main %}{% endblock %}
  <!-- 中身ここまで  -->
 </body>
</html>

