{% load navbar %}
{% load bootstrap3 %}
{% load url from future %}

{% prepare_navbar as navitems %}

<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% with navitems|first as first_item %}
        <a class="navbar-brand" href="{{ first_item.url }}">{{ first_item.title }}</a>
      {% endwith %}
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      {% for item in navitems|slice:"1:" %}
        {% if item.attribute == "begin-sub" %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {% if item.icon %}{% bootstrap_icon item.icon %} {% endif %}
            {{ item.title }}
             <b class="caret"></b></a>
          <ul class="dropdown-menu">
        {% elif item.attribute == "end-sub" %}
          </ul>
         </li>
        {% else %}
        {% if item.active %}
          <li class="active">{{ item|stylize }}</li>
        {% else %}
          <li>{{ item|stylize }}</li>
        {% endif %}
        {% endif %}
      {% endfor %}
      </ul>
      {% if not hide_user_button %}{% include "user-button.html" %}{% endif %}
    </div>
  </div>
</div>
