{% extends "no-sidebar.html" %}
{% load bootstrap3 %}
{% load navbar %}

{% block title %}Navbar Test{% endblock %}

{% block content %}
{% prepare_navbar as navitems %}

{% with navitems|first as first_item %}
  {% if first_item.active %}
    <h2><b>{{ first_item|stylize }}</b></h2>
  {% else %}
    <h2>{{ first_item|stylize }}</h2>
  {% endif %}
  <ul>
    {% for item in navitems|slice:"1:" %}
      {% if item.attribute != "end-sub" %}
        {% if item.active %}
          <li><b>{{ item|stylize }}</b></li>
        {% else %}
          <li>{{ item|stylize }}</li>
        {% endif %}
        {% if item.attribute == "begin-sub" %}
          <ul>
        {% endif %}
      {% else %}
        </ul>
      {% endif %}
    {% endfor %}
  </ul>
{% endwith %}

{% endblock %}
